<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>My YGO Card</title> 
</head>
<body>

<p>
{% load static %}
<img src="{{card_info.card_images}}" alt="My image">
<!-- <img src="{% static 'images/86066372.jpg' %}" alt="My image"> -->
<!-- <img src="https://storage.googleapis.com/ygoprodeck.com/pics/86066372.jpg" alt="My image"> -->
<!-- <img src="/home/lirui/ygo_web/mysite/static/images/86066372.jpg" alt="Smiley face" width="32" height="32"></p> -->
</p>
<table border="1" width = "200" height = "200">
  <caption>Card Info</caption>
  <tr>
    <th>level</th>
    <th>def</th>
    <th>atk</th>
    <th>id</th>
    <th>linkval</th>
    <th>scale</th>
    <th>name</th>
    <th>archetype</th>
    <th>race</th>
    <th>attribute</th>
    <th>linkmarkers</th>
    <th>desc</th>
  </tr>
  <tr>
    <th>{{card_info.card_level}}</th>
    <th>{{card_info.card_def}}</th>
    <th>{{card_info.card_atk}}</th>
    <th>{{card_info.card_id}}</th>
    <th>{{card_info.card_linkval}}</th>
    <th>{{card_info.card_scale}}</th>
    <th>{{card_info.card_name}}</th>
    <th>{{card_info.card_archetype}}</th>
    <th>{{card_info.card_race}}</th>
    <th>{{card_info.card_attribute}}</th>
    <th>{{card_info.card_linkmarkers}}</th>
    <th>{{card_info.card_desc}}</th>
  </tr>
</table>

</body>
</html>

<!-- {'level', 'def', 'atk', 'id', 'linkval', 'scale'} -->
<!-- {'type', 'name', 'archetype', 'race', 'desc', 'attribute'} -->