<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>My YGO Card</title> 
</head>
<body>
  <table border = "1">
    <tr>
        <td rowspan = "6"><img src="{{card_info.card_images}}" alt="My image"></td>
        <td><strong>level</strong></td>
        <td>{{card_info.card_level}}</td>
        <td><strong>name</strong></td>
        <td>{{card_info.card_name}}</td>
    </tr>
    <tr>
        <td><strong>atk</strong></td>
        <td>{{card_info.card_atk}}</td>
        <td><strong>archetype</strong></td>
        <td>{{card_info.card_archetype}}</td>
    </tr>
    <tr>
        <td><strong>def</strong></td>
        <td>{{card_info.card_def}}</td>
        <td><strong>race</strong></td>
        <td>{{card_info.card_race}}</td>
    </tr>
    <tr>
        <td><strong>card_id</strong></td>
        <td>{{card_info.card_id}}</td>
        <td><strong>attribute</strong></td>
        <td>{{card_info.card_attribute}}</td>
    </tr>
    <tr>
        <td><strong>linkval</strong></td>
        <td>{{card_info.card_linkval}}</td>
        <td><strong>linkmarkers</strong></td>
        <td>{{card_info.card_linkmarkers}}</td>
    </tr>
    <tr>
        <td><strong>scale</strong></td>
        <td>{{card_info.card_scale}}</td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td><strong>desc</strong></td>
        <td colspan = "5">{{card_info.card_desc}}</td>
    </tr>
  </table>
</body>
</html>